<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <meta charset="UTF-8">
        <title>TestTools</title>
    {% endblock %}

    {#style样式,导入css文件#}
    {% block style %}
        {#<link rel="stylesheet" type="text/css" href="../static/css/base.css">#}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    {% endblock %}

</head>
{#script脚本#}
{% block script %}
    <script type="text/javascript" src="{{ url_for('static',filename='js/base.js') }}"></script>
{% endblock %}



<body>
{% block system %}
    <div style="padding: 20px 0px;">
        <button class="sys-btn" onclick="window.location.href = '/oms/oms_create_order'">OMS</button>
        <button class="sys-btn" onclick="window.location.href = '/soa/soa_checkout_order'">SOA</button>
        {#<button class="sys-btn" onclick="window.location.href = '/sms/oms_process'">SMS</button>#}
        <button class="sys-btn" onclick="window.location.href = '/webmin/webmin_oms'">Webmin</button>
    </div>
    <hr/>
    {#    {% block flash %}#}
    {#        <div style="">#}
    {#            {% with messages = get_flashed_messages() %}#}
    {#                {% if messages %}#}
    {#                    {% for msg in messages %}#}
    {#                        <div id="div-message-id">#}
    {#                            <dialog open id="flash-message-id">{{ msg }}#}
    {#<button type="button" onclick="close_flash_message();">x</button>#}
    {#                            </dialog>#}
    {#                        </div>#}
    {#                    {% endfor %}#}
    {#                {% endif %}#}
    {#            {% endwith %}#}
    {#        </div>#}
    {#    {% endblock %}#}

{% endblock %}

{% block model %}


{% endblock %}

</body>


</html>