{% extends "base.html" %}

{% block body %}
    <body>
    <div>
        <br>
        <div>
            <input id="oms_sys" name="sys-btn" type="button" value="OMS" onclick="selectSys('oms')">
            <input id="soa_sys" name="sys-btn" type="button" value="SOA" onclick="selectSys('soa')">
        </div>
        <br><br>
    </div>
    <div>
        <iframe id="oms-iframe" name="sys-iframe" src="/oms/oms_model.html" style="width:100%;height:900px;display:none"></iframe>
        <iframe id="soa-iframe" name="sys-iframe" src="/soa/soa_model.html" style="width:100%;height:900px;display:inline"></iframe>
    </div>

    {% block model %}

    {% endblock %}
    </body>
{% endblock %}
