{% extends "base.html" %}
{% block style %}
    {{ super() }}
    {#<link rel="stylesheet" type="text/css" href="../static/css/oms.css">#}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/oms.css') }}">
{% endblock %}

{% block model %}
    <div style="padding-top: 10px;">
        <button class="sys-btn" onclick="window.location.href = '/oms/oms_create_order'">oms造单</button>
        {#        <button class="sys-btn" onclick="window.location.href = '/oms/oms_webmin'">webmin脚本</button>#}
        <button class="sys-btn" onclick="window.location.href = '/oms/oms_process'">订单全流程</button>
        <button class="sys-btn" onclick="">......</button>
    </div>
    <hr/>
{% endblock %}


