{% extends "oms.html" %}
{% block style %}
    {{ super() }}

{% endblock %}

{% block model %}
    {{ super() }}

    <form action="{{ host }}/oms/create_order" target="_top" method="POST">
        <div class="order-info">
            <div>
                <label style="height:25px;font-size:26px"> 订单信息：</label>
            </div>
            <div style="float: left">
                <div class="div-common">
                    <label class="label-common-right"> 顾客编号：*</label>
                    <select class="input-common" name="customer-id">
                        <option value="775">775</option>
                    </select>
                </div>
                <div class="div-common">
                    <label class="label-common-right">订单编号：*</label>
                    <input class="input-common" name="order-sn" disabled value="(自动生成)">
                </div>
                <div class="div-common">
                    <label class="label-common-right">事业部：*</label>
                    <select class="input-common" name="department-id">
                        <option value="42" selected>服装事业部</option>
                    </select>
                </div>
                <div class="div-common">
                    <label class="label-common-right">订单来源：*</label>
                    <select class="input-common" name="order-from">
                        <option value="45" selected>zaful.com</option>
                        <option value="33">rosegal.com</option>
                        <option value="18">dresslily.com</option>
                    </select>
                </div>
                <div class="div-common">
                    <label class="label-common-right">订单类型：*</label>
                    <select class="input-common" name="settlement-id">
                        <option value="1" selected>先款后货</option>
                        <option value="2" disabled="disabled">预收定金</option>
                        <option value="3" disabled="disabled">账期</option>
                    </select>
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 订单币种：*</label>
                    <input class="input-common" name="order-currency" value="USD">
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 订单汇率：*</label>
                    <input class="input-common" type="number" step="0.0000000001" name="order-currency-rate"
                           value="1.0000000000">
                </div>
                <div class="div-common">
                    <label class="label-common-right"> Email：*</label>
                    <input class="input-common" type="email" name="receiver-email" value="lijun7@globalegrow.com">
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 姓名：*</label>
                    <input class="input-common" name="receiver-name" value="李军7">
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 详情地址1：*</label>
                    <input class="input-common" name="receiver-address-1" value="address_1">
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 详情地址2：*</label>
                    <input class="input-common" name="receiver-address-2" value="address_2">
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 城市：*</label>
                    <input class="input-common" name="receiver-city" value="ADELSHOFEN">
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 州/省：*</label>
                    <input class="input-common" name="receiver-province" value="Alaska">
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 邮编：*</label>
                    <input class="input-common" name="receiver-postcode" value="55555">
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 国家：*</label>
                    <input class="input-common" name="receiver-country-code" value="DE">
                </div>
            </div>
            <div style="float: left">
                <div class="div-common">
                    <label class="label-common-right"> 电话：*</label>
                    <input class="input-common" type="tel" name="receiver-tel" value="545775444">
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 挂号费：*</label>
                    <input class="input-common" type="number" step="0.01" name="registered-fee" value="0.5">
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 保险费：*</label>
                    <input class="input-common" type="number" step="0.01" name="insurance-fee" value="0.1">
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 运费：*</label>
                    <input class="input-common" type="number" step="0.01" name="shipping-fee" value="1.5">
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 是否需要发票：</label>
                    <select class="input-common" name="is-invoice">
                        <option value="1">是</option>
                        <option value="0" selected>否</option>
                    </select>
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 备注内容：</label>
                    <input class="input-common" name="remark" value="">
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 发货仓库：</label>
                    <select class="input-common" name="stock-id">
                        <option value="1">肇庆01仓</option>
                    </select>
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 物流方式：</label>
                    <select class="input-common" name="express-id">
                        <option value="79">山西邮政小包挂号</option>
                        <option value="2393" selected>加拿大专线(FZ)</option>
                        <option value="17">中国邮政小包挂号</option>
                    </select>
                </div>
                <div class="div-common" style="display: none">
                    <label class="label-common-right"> express_appoint：</label>
                    <input class="input-common" value="0">
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 是否拆包：</label>
                    <select class="input-common" name="is-unpacking">
                        <option value="1">是</option>
                        <option value="0" selected>否</option>
                    </select>
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 客户父称：</label>
                    <input class="input-common" name="customer-middle-name" value="">
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 护照编号：</label>
                    <input class="input-common" name="customer-passport-serial" value="">
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 护照号：</label>
                    <input class="input-common" name="customer-passport" value="">
                </div>
                <div class="div-common">
                    <label class="label-common-right"> 护照发证日期：</label>
                    <input class="input-common" name="customer-passport-issue-date" value="">
                </div>
            </div>
        </div>
        <div class="order-info" style="height: 38vh">
            <label style="height:25px;font-size:26px"> 支付方式:</label>
            <input class="submit-btn-big" type="submit" value="创建订单" style="float: right;margin: 5px 10px">
            <div class="div-common">
                <label class="label-common-right"> 支付方式：</label>
                <select class="input-common" name="pay-way">
                    <option value="9" selected>客户预存款</option>
                </select>
            </div>
            <div class="div-common">
                <label class="label-common-right"> 付款id：</label>
                <select class="input-common" name="pay-id">
                    <option value="20211118144438">20211118144438</option>
                </select>
            </div>
        </div>
        <div class="order-info" style="height: 38vh">
            <label style="height:25px;font-size:26px">商品信息:</label>
            <div class="div-common">
                <label class="label-common-right"> sku：*</label>
                <input class="input-common" name="sku0" value="148786003">
            </div>
            <div class="div-common">
                <label class="label-common-right"> 产品价格：*</label>
                <input class="input-common" type="number" step="0.1" name="price0" value="2.1">
            </div>
            <div class="div-common">
                <label class="label-common-right"> 购买数量：*</label>
                <input class="input-common" type="number" name="qty0" value="1">
            </div>
            <div class="div-common">
                <label class="label-common-right"> 备注：</label>
                <input class="input-common" name="goods-remark0" value="sku备注">
            </div>
        </div>
    </form>
    <div style="clear: both"></div>

{% endblock %}