{% extends "oms.html" %}

{% block model %}
    {{ super() }}
    <div class="order-info">
        <ol>
            <li>
                <p class="p-text">前提条件：添加sku到oms产品库</p>
                <form action="{{ host }}/oms/allProcess/addSkuOms" target="_top" method="POST">
                    <span>英文逗号隔开，已存在会自动去除</span>
                    <div class="div-common">
                        <label for="sku-list" class="label-oms-process-right">sku：</label>
                        <input class="input-oms-process" id="sku-list" name="sku-list">
                        <input class="submit-btn-common" type="submit" value="添加"></div>
                </form>
            </li>
            <hr/>
            <li>
                <p class="p-text">生成订单</p>
                <div>
                    <span>1).各网站下单后推到OMS：</span>
                    <form action="{{ host }}/oms/allProcess/orderFromSite" target="_top" method="POST">
                        <div class="div-common">
                            <label class="label-oms-process-right">站点：</label>
                            <select class="input-oms-process" name="order-from">
                                <option value="ZF">ZF</option>
                                <option value="DL">DL</option>
                                <option value="RG">RG</option>
                            </select>&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="div-common">
                            <label class="label-oms-process-right">订单号：</label>
                            <input class="input-oms-process" name="order-sn" value="{{ order_sn }}">
                            <input class="submit-btn-common" type="submit" value="同步订单"></div>
                    </form>
                    <span>2).OMS接收网站订单：</span>
                    <div class="div-common">
                        <form action="{{ host }}/oms/webmin?name=接收soa订单" target="_top" method="POST">
                            <label class="label-oms-process-right">站点：</label>
                            <select class="input-oms-process" name="order-from" style="font-size:16px;">
                                <option value="45">ZF</option>
                                <option value="18">DL</option>
                                <option value="33">RG</option>
                            </select>
                            <input class="submit-btn-common" type="submit" value="接收订单" style="">
                        </form>
                    </div>
                    <div class="div-common">
                        <span>PS: OMS新建订单</span>
                    </div>
                </div>
            </li>
            <hr/>
            <li>
                <p class="p-text">审核付款单</p>
                <div class="div-common">
                    <form action="{{ host }}/oms/allProcess/payOrderAudit" target="_top" method="POST">
                        <label class="label-oms-process-right">订单编号：</label>
                        <input class="input-oms-process" name="order-sn" value="{{ order_sn }}">
                        <input class="submit-btn-common" type="submit" value="审核通过">
                    </form>
                </div>
            </li>
            <hr/>
            <li>
                <p class="p-text">OMS匹配订单(自营）</p>

                <form action="{{ host }}/oms/webmin?name=匹配订单" target="_blank" method="POST">
                    <div class="div-common">
                        <label class="label-oms-process-right">订单来源：</label>
                        <select class="input-oms-process" id="order-source" name="process-order-source">
                            <option value="">请选择</option>
                            <option value="45" selected>ZF</option>
                            <option value="33">RG</option>
                            <option value="18">DL</option>
                            <option value="199">清仓站</option>
                        </select></div>
                    <div class="div-common">
                        <label class="label-oms-process-right">订单编号：</label>
                        <input class="input-oms-process" name="order-sn" value="{{ order_sn }}">
                        <input class="submit-btn-common" type="submit" value="开始匹配"></div>
                </form>

            </li>
            <hr/>
            <li>
                <p class="p-text">OMS处理订单问题</p>
                <div class="div-common">
                    <form action="{{ host }}/oms/allProcess/dealQuestion" target="_top" method="POST">
                        <label class="label-oms-process-right">订单编号：</label>
                        <input class="input-oms-process" name="order-sn" value="{{ order_sn }}">
                        <input class="submit-btn-common" type="submit" value="开始处理">
                    </form>
                </div>
            </li>
            <hr/>
            <li>
                <p class="p-text">OMS生成配货单</p>
                <form action="{{ host }}/oms/allProcess/createPickingOrder" target="_parent" method="POST">
                    <div class="div-common">
                        <label class="label-oms-process-right">仓库：</label>
                        <select class="input-oms-process" name="stock-id">
                            <option value="1929">肇庆-01</option>
                        </select>
                    </div>
                    <div class="div-common">
                        <label class="label-oms-process-right">sku：</label>
                        <input class="input-oms-process" name="goods-sn">
                        <label class="label-oms-process">(不填则全部配货)</label>
                    </div>
                    <div class="div-common">
                        <label class="label-oms-process-right">物流ID：</label>
                        <input class="input-oms-process" name="express-id">
                    </div>
                    <div class="div-common">
                        <label class="label-oms-process-right">订单编号：</label>
                        <input class="input-oms-process" name="order-sn" value="{{ order_sn }}">
                        <input class="submit-btn-common" type="submit" value="立即生成">
                    </div>
                </form>
            </li>
            <hr/>
            <li>
                <p class="p-text">OMS同步配货数据到WMS</p>
                <ul>
                    <div class="div-common">
                        <form action="{{ host }}/oms/allProcess/postPickingInfo" target="_blank" method="POST">
                            <li>同步配货单到WMS</li>
                            <lable class="label-oms-process">订单编号：</lable>
                            <input class="input-oms-process" name="order-sn" value="{{ order_sn }}">
                            <input class="submit-btn-common" type="submit" value="立即同步">
                        </form>
                    </div>
                </ul>
                <ul>
                    <div class="div-common">
                        <form action="{{ host }}/oms/allProcess/getPickingInfo" target="_blank" method="POST">
                            <li>WMS生成包裹</li>
                            <lable class="label-oms-process">订单编号：</lable>
                            <input class="input-oms-process" name="order-sn" value="{{ order_sn }}">
                            <input class="submit-btn-common" type="submit" value="立即生成">
                        </form>
                    </div>
                </ul>
            </li>
            <hr/>
            <li>WMS跟踪号补录
                <form action="{{ host }}/wms">

                </form>

            </li>
            <hr/>
            <li>......

            </li>
        </ol>
    </div>
    <div class="order-info" style="text-align: center;padding-left: 0;">
        {% block flash %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}

                    {% for msg in messages %}
                        <div id="div-message-id" class="flash-msg">
                            {{ msg }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% endblock %}
    </div>

{% endblock %}