{% extends "soa.html" %}

{% block model %}
    {{ super() }}
    <div>
        <form action="/soa/soa_gateway/after_risk" method="POST">
            <label style="font:bold 18px black ">发起事后风控：</label>
            <div class="div-common">
                <label for="pay-sn" class="label-common-right">pay_sn：</label>
                <input id="pay-sn" class="input-common" name="pay-sn">
                <input class="submit-btn-common" type="submit" value="确定">
            </div>
            <div class="div-common">
                {{ after_risk_result }}
            </div>
        </form>
    </div>
{% endblock %}