{% extends "soa.html" %}

{% block function %}
    <div id="fun0" name="functions" style="display:inline">

        <div>
            <br>
            <form action="{{ url }}/soa/create_order" target="_top" method="POST">
                <br>
                <div>
                    <label>国家：</label>
                    <select name="country-name" onclick="" style="font-size:16px;">
                        <option value="美国">美国(US)</option>
                        <option value="英国">英国(GB)</option>
                        <option value="荷兰">荷兰(NL)</option>
                        <option value="德国">德国(DE)</option>
                        <option value="日本">日本(JP)</option>
                        <option value="菲律宾">菲律宾(PH)</option>
                        <option value="波兰">波兰(PL)</option>
                        <option value="比利时">比利时(BE)</option>
                        <option value="澳大利亚">澳大利亚(AU)</option>
                        <option value="美国accept">美国accept</option>
                        <option value="美国reject">美国reject</option>
                        <option value="美国review">美国review</option>
                    </select>
                </div>
                <br>
                <div>
                    <label>币种：</label>
                    <input name="currency-code" value="USD">
                </div>
                <br>
                <div>
                    <label>美元价格：</label>
                    <input name="price" value="58.99">
                </div>
                <br>
                <div>
                    <label>网站：</label>
                    <select name="site-code" onclick="" style="font-size:16px;">
                        <option value="ZF">ZF</option>
                        <option value="RG" >RG</option>
                        <option value="DL" >DL</option>
                        <option value="GB" >GB</option>
                    </select>
                </div>
                <br>
                <div>
                    <input type="submit" value="生成订单" style="font-size:16px;">
                </div>
            </form>
        </div>
        <br>
        {% if cashier %}
            <div>
                <a href="{{ cashier }}" target="_blank">收银台链接：{{ cashier }}</a>
            </div>
        {% endif %}

    </div>
{% endblock %}