{% extends "soa.html" %}

{% block model %}
    {{ super() }}

    <div>
        <form action="{{ url }}/soa/create_order" target="_top" method="POST">
            <div class="div-common">
                <label class="label-common-right">国家：</label>
                <select class="input-common" name="country-name" onclick="" style="font-size:16px;">
                    <option value="美国">美国(US)</option>
                    <option value="英国">英国(GB)</option>
                    <option value="荷兰">荷兰(NL)</option>
                    <option value="德国">德国(DE)</option>
                    <option value="日本">日本(JP)</option>
                    <option value="菲律宾">菲律宾(PH)</option>
                    <option value="波兰">波兰(PL)</option>
                    <option value="比利时">比利时(BE)</option>
                    <option value="澳大利亚">澳大利亚(AU)</option>
                    <option value="美国accept">美国accept</option>
                    <option value="美国reject">美国reject</option>
                    <option value="美国review">美国review</option>
                </select>
            </div>
            <div class="div-common">
                <label class="label-common-right">币种：</label>
                <input class="input-common" name="currency-code" value="USD">
            </div>
            <div class="div-common">
                <label class="label-common-right">美元价格：</label>
                <input class="input-common" name="price" value="58.99">
            </div>
            <div class="div-common">
                <label class="label-common-right">网站：</label>
                <select class="input-common" name="site-code" onclick="" style="font-size:16px;">
                    <option value="ZF">ZF</option>
                    <option value="RG">RG</option>
                    <option value="DL">DL</option>
                </select>
            </div>

            <div class="div-common">
                <input class="submit-btn-big" type="submit" value="生成订单">
            </div>
        </form>
    </div>

    {% if cashier %}
        <div class="div-common">
            <a href="{{ cashier }}" target="_blank">收银台链接：{{ cashier }}</a>
        </div>
    {% endif %}

{% endblock %}