{% extends "webmin.html" %}
{% block style %}
    {{ super() }}
{% endblock %}

{% block model %}
    {{ super() }}
    <div>
        <div class="webmin-info">
            <div class="webmin-script-desc">
                <div class="webmin-script-name">入库明细凭证数据:</div>
                <div>cd /data/www/devel/pms/daemon && php fas/autoBackDetailCert.php -s={开始时间} -e={结束时间}</div>
                <div>时间格式:2022-2-10</div>
            </div>
            <div class="webmin-script-desc">
                <div class="webmin-script-name">退款单凭证基础数据:</div>
                <div>cd /data/www/devel/pms/daemon && php fas/autoFinanceOrderCert.php -s={开始时间} -e={结束时间}</div>
                <div>时间格式:2022-2-10</div>
            </div>
            <div class="webmin-script-desc">
                <div class="webmin-script-name">铺货销售数据凭证基础数据:</div>
                <div>cd /data/www/devel/pms/daemon && php fas/autoSaleStockinCert.php -s={开始时间} -e={结束时间}</div>
                <div>时间格式:2022-2-10</div>
            </div>
            <div class="webmin-script-desc">
                <div class="webmin-script-name">退货扣款凭证基础数据:</div>
                <div>cd /data/www/devel/pms/daemon && php fas/autoDefectiveOrderCert.php -s={开始时间} -e={结束时间}</div>
                <div>时间格式:2022-2-10</div>
            </div>
        </div>
        <div class="webmin-submit">
            <form action="{{ host }}/webmin/submit?sys=pms" target="_blank" method="POST">
                <div class="div-submit">
                    <label class="label-webmin-submit">选择脚本:</label>
                    <select class="input-common" name="script-name">
                        <option value="auto_back_detail_cert">入库明细凭证数据</option>
                        <option value="auto_finance_order_cert">退款单凭证基础数据</option>
                        <option value="auto_sale_stockin_cert">铺货销售数据凭证基础数据</option>
                        <option value="auto_defective_order_cert">退货扣款凭证基础数据</option>
                    </select>
                </div>
                <div class="div-submit">
                    <label for="webmin-params" class="label-webmin-submit">请输入参数:（没有则不填）</label>
                </div>
                <div class="div-submit">
                    <input id="webmin-params" class="input-common" name="webmin-params1">
                    <input class="input-common" name="webmin-params2">
                    <input class="input-common" name="webmin-params3">
                </div>
                <div class="div-submit">
                    <input class="submit-btn-big" type="submit" value="立即执行">
                </div>
            </form>
        </div>
    </div>
{% endblock %}